pipeline/ImportJSon_audit_add_sp.json
{
	"name": "ImportJSon_audit_add_sp",
	"properties": {
		"activities": [
			{
				"name": "C_JSON_Sample",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "PipelineRunId",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "Sample.json",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Month']"
								},
								"sink": {
									"name": "SalesMonth",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"path": "$['Company']"
								},
								"sink": {
									"name": "Retailer",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Product']"
								},
								"sink": {
									"name": "Product",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['ManufacturerProductCode']"
								},
								"sink": {
									"name": "ManufacturerProductCode",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Units']"
								},
								"sink": {
									"name": "UnitsSold",
									"type": "Int32"
								}
							},
							{
								"source": {
									"path": "$['Sales'][0]['Value']"
								},
								"sink": {
									"name": "SalesValueUSD",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"path": "$['SourceFileName']"
								},
								"sink": {
									"name": "SourceFileName",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['PipelineRunId']"
								},
								"sink": {
									"name": "PipelineRunId",
									"type": "Guid"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_JSON_SugarCube",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_AzureSQLJSon",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "log_pipeline_outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "C_JSON_Sample",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineExecution]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('C_JSON_Sample').output.filesread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"PipelineRunId": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('C_JSON_Sample').output.rowscopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('C_JSON_Sample').output.rowsread",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-04-05T00:59:54Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}